<h1>Cart</h1>

<p><%= @cart.products.size %> <%= pluralize(@cart.products.size, "product") %></p>

<table>
  <tr>
    <td>Name</td>
    <td>Quantity</td>
    <td>Price</td>
  </tr>
  
  <% for product in @cart.products %>
  <tr>
    <td><%= link_to product.name, product_path(product) %></td>
    <td><%= product.quantity %></td>
    <td><%= number_to_currency product.price %></td>
  </tr>
  <% end %>
</table>