<h1>Confirmation Page</h1>

<% for lineitem in @order.line_items %>
  <%= lineitem.quantity %> x <%= lineitem.name %> @ <%= number_to_currency lineitem.price %>
<% end %>

<p>Total: <%= number_to_currency @order.total_price %></p>
<p><%= pluralize(@order.total_items, "item") %></p>