<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= APP_CONFIG[:name] %></title>
	
</head>

<body>

<ul>
  <li><%= link_to "Home", root_path %></li>
  <% if current_user %>
    <% if current_user.admin? %><li><%= link_to "Admin Section", admin_path %></li><% end %>
    <li><%= link_to "My Orders", orders_path %></li>
    <li><%= link_to "My Account", "..." %></li>
    <li><%= link_to "Logout", logout_path %>
  <% else %>
    <li><%= link_to "Register", new_user_path %></li>
    <li><%= link_to "Login", new_user_session_path %></li>
  <% end %>
  <li><%= link_to "Products", products_path %></li>
  <li><%= link_to "Cart", cart_index_path %></li>
</ul>

<%= flash[:notice] %>
<%= yield %>

</body>
</html>
